.destination-content {
  display: flex;
  gap: 11vw;
  padding: 5vh 4vw 0 4vw;
  line-height: 1.8;
}
.destination-navbar ul {
  display: flex;
  height: 5vh;
  gap: 2.5vw;
}
.destination-navbar ul a {
  color: var(--clr-light);
}
.destination-navbar a.active {
  color: white;
  padding-top: 3px;
  border-bottom: 3px solid white;
}
.destination-navbar a:not(.active)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #ffffff3f;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.1s ease-out;
}
.destination-navbar a:not(.active):hover::after {
  transition: all 0.2s ease-out;
  width: 100%;
}
.destination-details {
  display: flex;
  width: 30vw;
  flex-direction: column;
}
.destination-values {
  display: flex;
  gap: 2vw;
  margin-top: 5vh;
  border-top: 1px solid #ffffff2a;
  padding-top: 3vh;
}
.destination-values div {
  width: 50%;
}
.planet-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  width: 35%;
  height: 100%;
}
.planet-image img {
  animation: slowly-appear 600ms ease-in;
}

@media only screen and (max-width: 1023px) {
  .destination-content {
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    line-height: 1.7;
    padding: 3vh 0 0 0;
  }
  .planet-image {
    min-height: 25vh;
  }
  .planet-image img {
    max-height: 25vh;
  }
  .destination-details {
    width: 75%;
    align-items: center;
  }
  .destination-navbar ul {
    gap: 4vw;
  }
  .destination-values {
    width: 100%;
    padding: 3vh 15vw;
    gap: 5vw;
  }
}

@media only screen and (max-width: 767px) {
  .planet-image {
    margin-top: 0;
    height: 15vh;
  }
  .destination-content {
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    line-height: 1.7;
    padding: 3vh 0 0 0;
  }
  .destination-details {
    width: 85%;
  }
  .destination-values {
    padding: 3vh 0;
    flex-direction: column;
    align-items: center;
  }
  .destination-values .sub-h1 {
    font-size: var(--fs-600);
  }
}
