.page-container {
  padding-top: 8vh;
  padding-left: 11vw;
}

@media only screen and (max-width: 1023px) {
  .page-container {
    padding-top: 4vh;
    padding-left: 0;
  }
}
@keyframes slowly-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
